@import "../../styles/global.scss";

.EditForm {
  border-radius: 15px;

  .Preview {
    margin-bottom: 1rem;
  }

  .Checkbox {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .Confirmation {
    display: flex;
    justify-content: center;
  }

}