@import "../../styles/global.scss";

.Preview {
  min-height: 6rem;

  &.break {
    word-break: break-all;
  }

  .label {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: $blue;
  }

  .display {

    min-height: 4rem;

    .author {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;

      .name {
        color: $orange;
      }

    }

    .title {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

  }

  .body.break {
    word-break: break-all;
  }

}