@import "../../styles/global.scss";

.Preview {

  .label {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: $blue;
  }

  .title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .author {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 1rem;

    .name {
      color: $orange;
    }

  }

  .body.break {
    word-break: break-all;
  }

}