@import "../../styles/global.scss";

.TextForm {

  .label {
    font-weight: 700;
  }

  textarea {
    color: $navy-1;
    font-family: $font-code;
    font-size: 0.9rem;
    background-color: $white;
    width: 100%;
    padding: 0.5rem;
    border-color: $navy-5;
    border-radius: 5px;
    outline: none;
    resize: none;
    // word-break: break-all;
    overflow-x: hidden;
    overflow-y: scroll;
    @include custom-scrollbar;

    &:focus {
      border-color: $navy-7;
    }

  }

}