$orange: #ff7c48;
$orange-lighter: rgb(255, 154, 40);
$red: #ff0d40;
$yellow: #ffd800;
$green: #00ff60;
$green-darker: #008834;
$blue: #2f7dff;
$navy-0: #04050c;
$navy-1: #090a18;
$navy-2: #0f1122;
$navy-3: #141830;
$navy-4: #171a31;
$navy-5: #212342;
$navy-6: #272949;
$navy-7: #32355c;
$navy-8: #62658d;
$navy-9: #787a96;
$grey: rgba(126, 126, 126, 0.384);
$black: #040404;
$white: #f5f5f5;
$code-bg: #06060fb6;

$font-title: "Merienda", cursive;
$font-code: "Roboto Mono", monospace;
$font-main: "Roboto", sans-serif;