@import "../styles/global.scss";

.Access {

  .page-title {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
  }

  .code {
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    background-color: $navy-3;
    padding: 1rem;
    border-radius: 15px;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    &.instructor {
      border-color: $yellow;
    }
    input {
      padding: 0.5rem;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

}