@import "../styles/global.scss";

button {
  &.btn-category {
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 3px;
    color: $orange;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 0.2rem;
    opacity: 0.8;
    &:hover:not(.disabled) {
      opacity: 1;
    }
  }
}