@import "../styles/global.scss";

button {
  background-color: transparent;
  border: 1px solid;
  color: $white;

  img {
    width: 0.8rem;
    margin-right: 0.2rem;
    margin-bottom: 0.1rem;
  }

  &.new-post {
    border-radius: 10px;
    background-color: $navy-5;
    border: 3px solid $navy-5;
    color: $white;
    font-size: 0.9rem;
    font-weight: 700;
    height: 3rem;
    width: 8.75rem;
    margin-bottom: 0.5rem;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      background-color: $navy-6;
      border: 3px solid $navy-6;
    }
    &:active {
      background-color: $navy-5;
      border: 3px solid $navy-5;
    }
  }

  &.search {
    border-radius: 10px;
    background-color: $navy-5;
    border: 3px solid $navy-5;
    color: $white;
    font-size: 0.9rem;
    font-weight: 700;
    height: 3rem;
    width: 8.75rem;
    margin-bottom: 0.5rem;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      background-color: $navy-6;
      border: 3px solid $navy-6;
    }
    &:active {
      background-color: $navy-5;
      border: 3px solid $navy-5;
    }
  }

  &.form {
    font-size: 0.9rem;
    font-weight: 700;
    border-width: 2px;
    border-radius: 5px;
    width: 6rem;
    opacity: 0.8;

    &.green {
      color: $green;
    }

    &.red {
      color: $red;
    }

    &:hover {
      opacity: 1;
    }

  }

  &.tag {
    border-radius: 5px;
    border-color: $orange;
    color: $orange;
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0.2rem 0.3rem 0.2rem 0;
    opacity: 0.7;
    text-transform: uppercase;

    &:hover:not(.disabled) {
      opacity: 1;
    }
    &.disabled {
      opacity: 0.9;
      cursor: pointer;
    }
    &.post-list-tag {
      font-size: 0.6rem;
    }

    &.filter,
    &.unselected {
      border-color: $white;
      color: $white;
    }

    &.clear {
      border-color: $red;
      color: $red;
    }

    &.selected {
      border-color: $orange;
      color: $orange;
      opacity: 0.9;
    }

    &.resolved {
      border-color: $green;
      color: $green;
      margin-right: 0.3rem;
      &.unselected {
        border-color: $white;
        color: #00ff629a;
      }
    }

    &.unresolved {
      border-color: $red;
      color: $red;
      font-weight: 700;
      &.unselected {
        border-color: $white;
        color: rgba(255, 28, 28, 0.767);
      }
    }

  }

}