@import "../styles/global.scss";

.CommentForm {
  margin-top: 1rem;
  .header {
    font-size: 1rem;
    font-weight: 700;
    // margin-bottom: 2rem;
  }
  .create-form {
    .EditForm {
      border: 1px solid $blue;
      background-color: $navy-2;
      .Preview {
        min-height: 5rem;
      }
    }
  }
}