@import "../styles/global.scss";

.CommentListItem {
  // border: 1px solid white;
  margin-top: 1rem;
  // background-color: $navy-5;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0rem;

  &:hover {
    .comment-parent.parent {
      footer {
        // border: 2px solid white;
        opacity: 1;
        .controls {
          opacity: 1;
        }
      }

    }
  }

  &.parent {
    background-color: $navy-3;
    padding: 1rem 1rem 1rem 0.5rem;
    border: 1px solid transparent;
    &:hover {
      border-color: $white;
    }
    .child {
      // border: 2px solid yellow;
    }
    // &:hover {
      // background-color: $navy-3;
      // .child {
      //   background-color: $navy-4;
      //   &:hover {
      //     background-color: $navy-5;
      //   }
      // }
    // }
  }

  // &:hover {
  //   background-color: $navy-3;
  // }

  // &.reply {
  //   background-color: $navy-3;
  //   margin: 1rem;
  // }

  main.comment-parent {
    display: flex;
    padding: 0;
    border: 1px solid $navy-3;
    cursor: progress;
    // margin: 0;
    // border: 1px solid red;
    &.parent {
      // background-color: red;


    }
    &.child {
      background-color: $navy-5;
      padding: 0.4rem;
      // margin: 0;
      &:hover {
        background-color: $navy-6;
      }
    }

    section {
      height: 100%;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
    }

    section.left {
      width: 6rem;
      align-items: center;
      user-select: none;

      .comment-avatar {
        margin-top: 0.2rem;
        margin-bottom: 0.3rem;
        img {
          width: 4rem;
        }
      }

      .comment-counter {
        display: flex;
        justify-content: center;
        font-weight: 700;
        width: 3rem;
        margin-top: 0.3rem;
        cursor: pointer;

        span.icon {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 1rem;
          margin: 0 0.2rem;
          // border: 1px solid white;
          img {
            filter: grayscale(100%);
            height: 0.6rem;
            width: 0.6rem;
            &.medal {
              height: 0.8rem;
              width: 0.8rem;
            }

            &.score-control {
              filter: none;
              opacity: 0;
            }
          }
          &.endorsements {
            margin-top: 0.1rem;
          }
          &.toggle {
            filter: none;
            margin-top: 0;
          }
        }
        span.number {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.liked {
          span.icon {
            img {
              filter: none;
            }
          }
          span {
            color: $green;
          }
        }
      }

    }

    section.right {
      // border: 1px solid magenta;
      justify-content: space-between;
      min-height: 10rem;
      .comment-author {

      }

      .comment-body {

      }

      footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        opacity: 0.5;
        // border: 1px solid magenta;;
        .comment-timestamp {
          font-size: 0.7rem;
          font-weight: 700;
        }
        .controls {
          // border: 1px solid white;
          opacity: 0;
          img {
          }
        }
      }
    }
    &:hover {
      // background-color: red;
      section.right {
        footer {
          // background-color: blue;
          opacity: 1;
          div.controls {
            // background-color: green;
            opacity: 1;
          }
        }
      }
    }

  }

  div.comment-replies {
    // margin: 0.8rem;
    // margin-top: 0;
    // border: 2px solid $navy-2;
    // background-color: $navy-2;
    .child {
      margin-top: 0.1rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }

}