@import "../styles/global.scss";

.CommentListItem {
  border: 1px solid transparent;
  margin-top: 1rem;
  background-color: $navy-2;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;

  &:hover {
    background-color: $navy-3;

    .reply {
      background-color: $navy-5;

      &:hover {
        background-color: $navy-6;
      }

    }

  }

  &.reply {
    background-color: $navy-4;
  }

  section {
    border: 2px solid red;
    height: 100%;
  }

  section.left {
    display: flex;
    flex-direction: column;
    .comment-avatar {
      img {

      }
    }

    .comment-score {
      span {

      }
      img {

      }
    }
  }

  section.right {
    .comment-author {

    }

    .comment-body {

    }

    footer {
      .comment-timestamp {

      }
      .comment-controls {
        img {

        }
      }
    }
  }

  section.comment-replies {
    border: 2px solid blue;
  }

}