@import "../styles/global.scss";

.Confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .message {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 13.5rem;

    :nth-child(2) {
      margin-left: 1rem;
    }

  }

}