@import "../styles/global.scss";

.Create {

  .page-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .page-text {

    .student {
      font-weight: 700;
      color: $orange;
    }

    .instructor {
      font-weight: 700;
      color: $yellow;
    }

    div.owner {
      margin-top: 1rem;
      span {
        font-weight: 700;
        color: $yellow;
      }
    }

    .access {
      color: $green;
      font-weight: 700;
    }

  }

  .create-form {
    border-radius: 15px;
    // padding: 1rem 1.5rem 1rem 1.5rem;
    padding: 1rem;
    background-color: $navy-2;
    border: 1px solid $navy-5;
    width: fit-content;
    margin-bottom: 1.25rem;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // margin-top: 1rem;

    .form-label {
      margin-bottom: 0rem;
      font-weight: 700;
      font-size: 1rem;
      display: flex;
      // justify-content: center;
    }

    input,
    textarea {
      color: $navy-1;
      font-size: 0.9rem;
      background-color: $white;
      width: 30rem;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      outline: none;
      margin-bottom: 1rem;
      // font-family: $font-code;
      resize: none;

      &::placeholder {
        opacity: 0.6;
      }

      &.code {
        width: 10rem;
      }

      &.description {
        margin-bottom: 0.5rem;
      }

    }

  }

  .error {
    // border: 1px solid red;
    height: 1.5rem;
    // margin-top: 0rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
    display: flex;
    // position: initial;
    align-items: center;
    color: $red;
  }

}