@import "../styles/global.scss";

.Dashboard {
  display: flex;
  flex-direction: column;

  .page-title {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
  }

  .greeting {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;

    span {
      color: $orange;
      font-weight: 900;
    }

    .sub {
      font-size: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

  }

  .panels {
    display: flex;
    flex-wrap: wrap;
    // margin-top: 0.5rem;
    // justify-content: space-between;

    .Panel {
      margin: 0 1rem 0rem 0;
      display: flex;
      zoom: 60%;

      &:last-child {
        margin-right: 0;
      }

    }


  }

  footer {
    color: $navy-8;

    a {
      color: $orange;

      &:hover {
        color: $white;
      }

    }

  }

}