@import "../styles/global.scss";

.Home {
  display: flex;
  flex-direction: column;

  .greeting {
    font-size: 2rem;
    font-weight: 700;

    span {
      color: $orange;
      font-weight: 900;
      &.link.faq {
        color: $white;
        &:hover {
          color: $blue;
          cursor: pointer;
        }
      }
    }

    .sub {
      font-size: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      .new {
        font-size: 1;
      }
      img {
        width: 1.1rem;
        margin-left: 0.25rem;
        margin-bottom: 0.2rem;
        margin-right: 0.25rem;
      }
    }


  }


  .panels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    .Panel {
      margin: 0 1rem 1rem 0;

      &:last-child {
        margin-right: 0;
      }

    }

  }

  footer {
    color: $navy-8;

    a {
      color: $orange;

      &:hover {
        color: $white;
      }

    }

  }

}