@import "../styles/global.scss";

.Info {
  span {
    font-size: 0.9rem;
    font-weight: 900;
  }
  .page-title {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
  }
  .course-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .course-date {
    // margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 900;
    color: $orange;
  }
  .course-description {
    margin-bottom: 3rem;
  }

  .instructors {
    header {
      font-weight: 700;
      text-transform: uppercase;
      color: $yellow;
    }
    img {
      width: 1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.2rem;
    }
    .star {
      margin-left: 0.5rem;
    }
  }

  .course-card {
    border-radius: 15px;
    border: 2px solid $navy-4;
    padding: 1rem;
    background-color: $navy-4;
  }

}