@import "../styles/global.scss";

.Join {

  .back-home {
    height: 3rem;
    width: 9rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5rem;
  }

  .panel {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 15rem;
    width: 30rem;
    background-color: $navy-2;
    border-radius: 15px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $navy-5;
    transition: 0.1s;

    input {
      text-align: center;
    }

    &.invalid {
      border: 2px solid $red;
    }

    &.success {
      border: 2px solid $green;
    }

  }

  .page-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .page-text {

    .student {
      font-weight: 700;
      color: $orange;
    }

    .instructor {
      font-weight: 700;
      color: $yellow;
    }

  }

  .form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;

    .form-label {
      margin-bottom: 0.5rem;
      font-weight: 700;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
    }

    input {
      width: 22rem;
      padding: 0.5rem;
      border-radius: 5px;
      outline: none;
      margin-bottom: 0rem;
    }

  }

  .messages {
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
    display: flex;
    position: initial;

    &.error {
      color: $red;
    }

    &.success {
      color: $green;

      .course-name {
        font-weight: 700;
      }

    }


  }

}