@import "../styles/global.scss";

.Main {
  border: 1px solid rgb(255, 0, 234);
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  @include custom-scrollbar;
}