@import "../styles/global.scss";

.Manage {

  .page-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .page-text {
    .counters {
      margin: 1rem 0;
      font-weight: 700;
    }
    .number {
      font-weight: 700;
      &.active {
        color: $green;
      }
      &.archived {
        color: $red;
      }
      &.disable {
        color: $orange;
      }
    }
  }

  .user-courses {
    border: 1px solid white;
    border-radius: 15px;
    // background-color: $navy-4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

}