@import "../styles/global.scss";

.Nav {
  border-radius: 0.2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  // box-shadow: 0px 5px 5px $navy-0;

  section {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    &.left {
      min-width: 20rem;
      background-color: $navy-1;
      img {
        width: 1.5rem;
        margin: 1rem;
      }
      .title {
        font-family: $font-title;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 0.6rem;
      }
    }
    &.middle {
      overflow: hidden;
      height: 4rem;
      flex-grow: 1;
      background-color: $navy-2;
      font-size: 1.3rem;
      .view-title {
        font-weight: 700;
      }
    }
    &.right {
      // border: 1px solid white;
      width: 25rem;
      background-color: $navy-2;
      display: flex;
      justify-content: space-between;
      img {
        width: 2rem;
        margin: 1rem;
        border: 1px solid $white;
        border-radius: 100%;
      }
    }
  }



}