@import "../styles/global.scss";

.PostListItem {
  border: 1px solid $navy-3;
  transition: 0.1s;
  background-color: $navy-2;
  margin: 0.25rem;
  &:hover {
    border: 1px solid $navy-5;
    cursor: pointer;
    background-color: $navy-3;
    div.summary {
      color: $navy-7;
    }
    .tags,
    .counters {
      opacity: 1;
    }
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $navy-4;
    height: 2rem;
    // overflow: hidden;
    .header-left {
      display: flex;
      align-items: center;

      .bookmark {
        margin-left: 0.5rem;
        width: 15px;
        margin-right: 0.5rem;
        margin-bottom: 0.1rem;
      }

      .title {
        font-weight: 700;
        font-size: 0.8rem;
      }

    }
    .header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0.5rem;
      width: 4rem;
    }
  }
  div.summary {
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    overflow: hidden;
    color: $navy-6;
    font-size: 0.8rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tags {
      margin-left: 0.3rem;
      opacity: 0.8;
    }
    .counters {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.8rem;
      color: $white;
      opacity: 0.8;
      .views {
        margin-right: 1rem;
      }
      .comments {

      }
    }
  }
}