@import "../styles/global.scss";

.PostListCategoryItem {
  border: 3px solid $navy-5;
  background-color: $navy-2;
  height: 6rem;
  user-select: none;
  border-radius: 10px;
  // margin: 0rem 0;

  &:hover,
  &.selected {
    border: 3px solid $navy-6;
    cursor: pointer;
    background-color: $navy-4;

    header {
      background-color: $navy-6;
      .title {
        opacity: 1;
      }
    }


    div.summary {
      color: $navy-8;
    }

    &.selected {
      box-shadow: 0px 0px 5px $navy-1;
      border-color: $navy-8;

    }

    .tags,
    .counters {
      opacity: 1;
    }

  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $navy-5;
    height: 2rem;
    // border-radius: 0.37rem 0.37rem 0 0;
    box-sizing: border-box;

    .header-left {
      display: flex;
      align-items: center;
      margin-left: 0.2rem;

      .pin,
      .bookmark {
        margin-left: 0.3rem;
        width: 10px;
        margin-bottom: 0.1rem;
      }

      .title {
        font-weight: 700;
        font-size: 0.9rem;
        margin-left: 0.5rem;

      }

    }
    .header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0.5rem;
      width: 4rem;
    }

  }

  div.summary {
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    overflow: hidden;
    color: $navy-8;
    font-size: 0.8rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;

    .tags {
      margin-left: 0.3rem;
      opacity: 0.8;
    }

    .counters {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.8rem;
      color: $white;
      opacity: 0.8;
      margin-bottom: 0.6rem;

      img {
        margin-bottom: 0.1rem;
      }

      .views {
        margin-right: 1rem;
      }

    }

  }

}