@import "../styles/global.scss";

.PostForm {

  .header {
    font-size: 2rem;
    font-weight: 700;
  }

  .create-form {

    .EditForm {

      .Preview {
        min-height: 10rem;
      }

    }

  }

}