@import "../styles/global.scss";

.PostForm {
  .header {
    font-size: 2rem;
    font-weight: 700;
    // margin-bottom: 2rem;
  }
  .create-form {
    .EditForm {
      .Preview {
        min-height: 20rem;
      }
    }
  }
}