@import "../styles/global.scss";

.Post {

  .EditForm {
    border: 1px solid $navy-6;
    padding: 1rem;
  }

  .display.preview-mode {
    opacity: 0.5;
  }

  header.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;

    .resolution {
      font-weight: 700;
      font-size: 0.9rem;

      &.resolved {
        color: $green
      }

      &.unresolved {
        color: $red
      }

    }

    .views {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 700;
      color: $white;
      margin-right: 0.5rem;
      user-select: none;

      img {
        width: 1.5rem;
        margin-right: 0.7rem;
        margin-bottom: 0.15rem;
      }

    }

  }

  .post-header {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .post-subheader {
    font-size: 0.8rem;
    margin: 0.5rem 0;

    .author {
      font-weight: 700;
      color: $orange;
    }

    .modified {
      font-style: italic;
      color: $navy-8;
    }

  }

  footer.post-icons {
    display: flex;
    justify-content: space-between;
    user-select: none;
    height: 2rem;

    .list-controls {

      .pin {
        margin-right: 1rem;
      }

    }

  }

  .post-body {
    margin: 1rem 0;
    word-break: normal;

    &.break {
      word-break: break-all;
    }

  }

  .controls {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.2rem;
    user-select: none;
    cursor: initial;

    img {
      margin-left: 1rem;
    }

    &.post-controls {
      margin-top: 1rem;
    }

  }

  .discussion {

    .discussion-label {
      font-size: 1.1rem;
      font-weight: 700;

      img {
        user-select: none;
        margin-bottom: 0.1rem;
      }

    }

  }

}