@import "../styles/global.scss";

.Summary {
  font-size: 1.4rem;
  border-left: 2px solid white;
  border-radius: 15px;
  background-color: $navy-4;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  padding-left: 2rem;

  img {
    width: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
  }

  .resolved-posts {
  }

  .unresolved-posts {
    span.unresolved {
      color: $red;
    }
  }

  .unread-posts {
    span.unread {
      color: $yellow;
    }
  }
}
