@import "styles/global.scss";
// @import "styles/test.scss"; // enable to use test palette

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: $navy-0;
  color: $white;
  font-family: $font-main, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include custom-scrollbar;

  a {
    text-decoration: none;
  }

  button {
    user-select: none;
  }

  hr {
    color: $navy-7;
    opacity: 1;
  }

  .icon-small,
  .icon-med,
  .icon-large {
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      filter: grayscale(100);

      &:hover {
        filter: grayscale(0);
        opacity: 0.7;
      }

    }
  }

  .icon-small {
    img {
      width: 15px;
      margin-right: 5px;
    }
  }

  .icon-med {
    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .icon-large {
    img {
      width: 25px;
    }
  }

}

code {
  font-family: $font-code, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
