@import "styles/global.scss";
// @import "styles/test.scss"; // enable to use test palette

@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  tab-size: 2;
  // display: flex;
  margin: 0;
  background-color: $navy-0;
  color: $white;
  font-family: $font-main, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include custom-scrollbar;
  // overflow: hidden;
  // keep disabled

  display: flex;
  justify-content: center;
  overflow: hidden;
  // background: linear-gradient($black, $navy-0);

  .App {
    margin-left: 15rem;
    margin-right: 15rem;
    min-width: 60rem;
    width: 85vw;
    overflow-x: hidden;
    // box-shadow: -3px -3px 5px $navy-2, 3px 3px 5px $navy-0;
    box-shadow: 0px 0px 5px black;
  }

  // DEVELOPMENT ONLY ///////////////////////////////////////////////
  .App {
    // overflow-y: scroll; // toggle this to fix app
    @include custom-scrollbar;
    .dev-tools {
      margin-top: 0rem;
      // display: none; // toggle this
    }
    .DevData {
      // display: none !important; // toggle this to quickly hide all dev data
      font-weight: 500;
      font-size: 1.5rem;
      border: 3px solid $green;
      padding: 0.5rem 1rem;
      background-color: $navy-2;
      margin-bottom: 1rem;
      textarea {
        margin-top: 0.5rem;
        // resize: none;
        border: none;
        overflow-x: hidden;
        word-break: break-all;
        width: 100%;
        height: 25rem;
        background-color: $black;
        color: $green;
        font-family: $font-code;
        font-size: 12px;
        outline: none;
        @include custom-scrollbar;
      }
      span {
        text-transform: uppercase;
        font-weight: 900;
        color: $green;
      }
      span.hide {
        color: $red;
        font-size: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        cursor: pointer;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  ///////////////////////////////////////////////////////////////////

  .ref {
    // border: 1px solid red;
    position: relative;
    bottom: 33vh;
    // display: none;
    &.top {
      bottom: 8vh;
    }
    &.best {
      bottom: 4vh;
    }
  }

  a {
    text-decoration: none;
  }

  button {
    user-select: none;
    outline: none;
  }

  hr {
    color: $navy-7;
    opacity: 1;
  }

  .icon-small,
  .icon-med,
  .icon-large {
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      filter: grayscale(100);

      &:hover {
        filter: grayscale(0);
        opacity: 0.7;
      }
    }
  }

  .icon-small {
    img {
      width: 15px;
      margin-right: 5px;
    }
  }

  .icon-med {
    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .icon-large {
    img {
      width: 25px;
    }
  }
}

code {
  font-family: $font-code, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  }

// SyntaxHighlighter styling
pre {
  overflow: hidden;

  code {
    overflow: hidden;
    font-size: 0.9rem;

    span {
      overflow-wrap: anywhere;
      white-space: pre-wrap;
    }

  }

}

pre,
code {
  @include custom-scrollbar;

  &::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $navy-2;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $navy-6;
    border-radius: 15px;
  }
}